<?xml version="1.0"?>
<config>
  <modules>
    <Sandipan_Testimonialmanager>
      <version>0.1.0</version>
    </Sandipan_Testimonialmanager>
  </modules>
  <frontend>
    <routers>
      <testimonialmanager>
        <use>standard</use>
          <args>
            <module>Sandipan_Testimonialmanager</module>
            <frontName>testimonials</frontName>
          </args>
      </testimonialmanager>
    </routers>
		<layout>
		  <updates>
			<testimonialmanager>
			  <file>testimonialmanager.xml</file>
			</testimonialmanager>
		  </updates>
		</layout>
  </frontend>
  <global>
	<models>
		<testimonialmanager>
			<class>Sandipan_Testimonialmanager_Model</class>
			<resourceModel>testimonialmanager_mysql4</resourceModel>
		</testimonialmanager>
		<testimonialmanager_mysql4>
			<class>Sandipan_Testimonialmanager_Model_Mysql4</class>
			<entities>
				<testimonialmanager>
					<table>testimonialmanager</table>
				</testimonialmanager>
			</entities>
		</testimonialmanager_mysql4>
	</models>
	<resources>
	  <testimonialmanager_setup>
		<setup>
		  <module>Sandipan_Testimonialmanager</module>
		</setup>
		<connection>
		  <use>core_setup</use>
		</connection>
	  </testimonialmanager_setup>
	  <testimonialmanager_write>
		<connection>
		  <use>core_write</use>
		</connection>
	  </testimonialmanager_write>
	  <testimonialmanager_read>
		<connection>
		  <use>core_read</use>
		</connection>
	  </testimonialmanager_read>
	</resources>
    <helpers>
      <testimonialmanager>
        <class>Sandipan_Testimonialmanager_Helper</class>
      </testimonialmanager>
    </helpers>
	<blocks>
	  <testimonialmanager>
		<class>Sandipan_Testimonialmanager_Block</class>
	  </testimonialmanager>
	</blocks>
  </global>
  <admin>
	<routers>
	  <testimonialmanager>
	    <use>admin</use>
		<args>
		  <module>Sandipan_Testimonialmanager</module>
		  <frontName>testimonialmanager</frontName>
		</args>
	  </testimonialmanager>
	</routers>
  </admin>
  <adminhtml>
	<menu>
	  <testimonialmanager module="testimonialmanager">
		<title>Testimonial</title>
		<sort_order>90</sort_order>
		<children>
		  <testimonialmanagerbackend module="testimonialmanager">
			<title>Testimonial Manager</title>
			<sort_order>0</sort_order>
			<action>testimonialmanager/adminhtml_testimonialmanager</action>
		  </testimonialmanagerbackend>
		</children>
	  </testimonialmanager>
	</menu>
	<acl>
	  <resources>
		<all>
		  <title>Allow Everything</title>
		</all>
		<admin>
		  <children>
			<testimonialmanager translate="title" module="testimonialmanager">
			  <title>Testimonial</title>
			  <sort_order>90</sort_order>
			  <children>
		  <testimonialmanagerbackend translate="title">
			<title>Testimonial Manager</title>
		  </testimonialmanagerbackend>
			  </children>
			</testimonialmanager>
		  </children>
		</admin>
	  </resources>
	</acl>
	<layout>
	  <updates>
		<testimonialmanager>
		  <file>testimonialmanager.xml</file>
		</testimonialmanager>
	  </updates>
	</layout>
  </adminhtml>
</config> 