/app/code/community/
/app/code/core/
/app/design/frontend/base/
/app/design/frontend/default/
/app/design/default/default/
/app/design/install/
/app/locale/en_US/
/app/downloader/
/app/errors/
/app/includes/
/app/js/
/app/lib/
/app/pkginfo/
/app/shell/
/app/var/
/js/calendar/
/js/extjs/
/js/flash/
/js/jscolor/
/js/lib/
/js/mage/
/js/prototype/
/js/scriptaculous/
/js/tiny_mce/
/js/varien/
/downloader/
/errors/
/includes/
/lib/
/pkginfo/
/shell/
/var/
/.htaccess
/api.php
/cron.php
/cron.sh
/downloader.php
/get.php
/index.php
/index.php.sample
/install.php
/LICENSE_AFL.txt
/LICENSE.html
/LICENSE.txt
/mage
/package.xml
/php.ini.sample
/RELEASE_NOTES.txt
