<?xml version="1.0"?>
<config>
	<modules>
		<Brainworx_Hearedfrom>
			<version>0.2.9</version>    <!-- Version number of your module -->
			<depends>Braiworx_Rental</depends>
		</Brainworx_Hearedfrom>
	</modules>
	<admin>
		<routers>
		<!--configure our module to use the admin frontend-->
		  <adminhtml>
			<args>
			  <modules>
				<Brainworx_Hearedfrom before="Mage_Adminhtml">Brainworx_Hearedfrom</Brainworx_Hearedfrom>
			  </modules>
			</args>
		  </adminhtml>		
		</routers>
	 </admin>
	<global>
		<models>
			<hearedfrom>
				<class>Brainworx_Hearedfrom_Model</class>
				<resourceModel>hearedfrom_resource</resourceModel>
			</hearedfrom>
			<hearedfrom_resource>
				<class>Brainworx_Hearedfrom_Model_Resource</class>
				<entities>
					<salesCommission>
						<table>hearedfrom_salescommission</table>
					</salesCommission>
					<salesForce>
						<table>hearedfrom_salesforce</table>
					</salesForce>
					<salesForceLink>
						<table>hearedfrom_salesforcelink</table>
					</salesForceLink>
					<salesSeller>
						<table>hearedfrom_salesseller</table>
					</salesSeller>
					<salesForceStock>
						<table>hearedfrom_salesforcestock</table>
					</salesForceStock>
					<salesForceStockRequest>
						<table>hearedfrom_salesforcestockrequest</table>
					</salesForceStockRequest>
					<commissionView>
						<table>vw_hearedfrom_commission_grouped</table>
					</commissionView>
					<invoicesView>
						<table>vw_invoices_admisol_full3</table>
					</invoicesView>
					<creditnotesView>
						<table>vw_creditnotes_admisol2</table>	
					</creditnotesView>
					<requestform>
						<table>hearedfrom_requestform</table>	
					</requestform>
					<requesttype>
						<table>hearedfrom_requesttype</table>	
					</requesttype>
				</entities>
			</hearedfrom_resource>

			<checkout>
				<rewrite>
					<type_onepage>Brainworx_Hearedfrom_Model_Type_Onepage</type_onepage>
				</rewrite>
			</checkout>

			<brainworxadminthemecontroller>
				<class>Brainworx_Hearedfrom_Controller</class>
			</brainworxadminthemecontroller>
			
			<core>
				<rewrite>
					<email_template>Brainworx_Hearedfrom_Model_Email_Template</email_template>
				</rewrite>
				<rewrite>
					<email_queue>Brainworx_Hearedfrom_Model_Email_Queue</email_queue>
				</rewrite>
			</core>
		</models>

		<helpers>
			<hearedfrom>
				<class>Brainworx_Hearedfrom_Helper</class>
			</hearedfrom>
			<financial>
				<class>Brainworx_Hearedfrom_Helper_Financial</class>
			</financial>
			<financialssupplier>
				<class>Brainworx_Hearedfrom_Helper_Financialssupplier</class>
			</financialssupplier>
		</helpers>

		<blocks>
			<checkout>
				<rewrite>
					<onepage>Brainworx_Hearedfrom_Block_Onepage</onepage>
				</rewrite>
			</checkout>

			<hearedfrom>
				<class>Brainworx_Hearedfrom_Block</class>
			</hearedfrom>
			<!-- maps the block folder of the hearedfrom module -->
			<financial>
			    <class>Brainworx_Hearedfrom_Block</class>
			</financial>
			<financialssupplier>
			    <class>Brainworx_Hearedfrom_Block</class>
			</financialssupplier>
			<salesforce>
				<class>Brainworx_Hearedfrom_Block</class>
			</salesforce>
			<salesforcestock>
				<class>Brainworx_Hearedfrom_Block</class>
			</salesforcestock>
			<salesforcestockrequest>
				<class>Brainworx_Hearedfrom_Block</class>
			</salesforcestockrequest>
			<commissionview>
            	<class>Brainworx_Hearedfrom_Block</class>
            </commissionview>
            <invoicesview>
            	<class>Brainworx_Hearedfrom_Block</class>
            </invoicesview>
            <creditnotesview>
            	<class>Brainworx_Hearedfrom_Block</class>
            </creditnotesview>
			<!-- Add block for checkout step -->
			<hearedfromonepage>
				<class>Brainworx_Hearedfrom_Block_Onepage</class>
			</hearedfromonepage>
			<!-- Add block to be loaded in myaccount page -->
            <ristornopage>
                <class>Brainworx_Hearedfrom_Block</class>
            </ristornopage>
            <patientorderpage>
                <class>Brainworx_Hearedfrom_Block</class>
            </patientorderpage>
            <invoicespage>
                <class>Brainworx_Hearedfrom_Block</class>
            </invoicespage>
            <stockpage>
            	<class>Brainworx_Hearedfrom_Block</class>
            </stockpage>
            <stockrequestpage>
            	<class>Brainworx_Hearedfrom_Block</class>
            </stockrequestpage>
            <requestformoverview>
            	<class>Brainworx_Hearedfrom_Block</class>
            </requestformoverview>
            <!-- Override account navigation to add custom links-->
            <customer>
                <rewrite>
                    <account_navigation>Brainworx_Hearedfrom_Block_AddCustomerlink</account_navigation>
                </rewrite>
            </customer>
            <!-- leave out cancelled order in the my account view -->
            <sales>
            	<rewrite>
            		<order_history>Brainworx_Hearedfrom_Block_Order_History</order_history>
            		<order_recent>Brainworx_Hearedfrom_Block_Order_Recent</order_recent>
            	</rewrite>
            </sales>
            <requestform>
            	<class>Brainworx_Hearedfrom_Block</class>
            </requestform>
		</blocks>

		<!-- Here we modify the checkout to our custom one -->
		<!-- This rewrite rule could be added to the database instead -->
		<rewrite>
			<!-- This is an identifier for your rewrite that should be unique -->
			<!-- THIS IS THE CLASSNAME IN YOUR OWN CONTROLLER -->
			<brainworx_hearedfrom_onepage>
				<from><![CDATA[#^/checkout/onepage/#]]></from>
				<!-- - mymodule matches the router frontname below - matches the path 
					to your controller Considering the router below, "/customonepage/index/" 
					will be "translated" to "app/code/local/Brainworx/Hearedfrom/controllers/Checkout/OnepageController.php" -->
				<to>/hearedfrom/onepage/</to>
			</brainworx_hearedfrom_onepage>
		</rewrite>
		<!-- <resources> <hearedfrom_setup> <setup> <module>Brainworx_Hearedfrom</module> 
			<class>Mage_Catalog_Model_Resource_Eav_Mysql4_Setup</class> </setup> <connection> 
			<use>core_setup</use> </connection> </hearedfrom_setup> </resources> -->
		<resources>
			<hearedfrom_setup>
				<setup>
					<module>Brainworx_Hearedfrom</module>
					<!-- for EAV attributes: Mage_Eav_Model_Entity_Setup -->
					<!-- for normal create tabel: Brainworx_Hearedfrom_Model_Resource_Setup -->
					<!-- for product related stuff - visible on front: Mage_Catalog_Model_Resource_Setup 
						or for older Mage_Catalog_Model_Resource_Eav_Mysql4_Setup -->
					<class>Brainworx_Hearedfrom_Model_Resource_Setup</class>
				</setup>
			</hearedfrom_setup>
			<!-- <hearedfrom_setup_EAV> <setup> <module>Brainworx_Hearedfrom</module> 
				<class>Mage_Catalog_Model_Resource_Setup</class> </setup> </hearedfrom_setup_EAV> -->
		</resources>

		<events>
			<!-- START Adds the Admin theme switcher, enables to avoid modify admin 
				themes -->
			<adminhtml_controller_action_predispatch_start>
				<observers>
					<brainworx_themeoverride_observer>
						<type>singleton</type>
						<!-- brainworxadminthemecontroller/observer -->
						<class>Brainworx_Hearedfrom_Controller_Observer</class>
						<method>overrideTheme</method>
					</brainworx_themeoverride_observer>
				</observers>
			</adminhtml_controller_action_predispatch_start>
		 <!-- The code of the event we want to observe -->
             <sales_order_invoice_register>
                <!-- Defining an observer for this event -->
                <observers>
                    <!--
                        Unique identifier within the
                        sales_order_place_after node.
                        By convention, we write the module's
                        name in lowercase.
                    -->
                    <hooksystem_invoice>
                        <!-- The model to be instantiated: 
                        maps to 
                        Model class as found in config <model> 
                        brainworx_rental/observer - geeft include(Mage/Brainworx/Hearedfrom/Model/Observer.php):
                        hearedfrom/observer - geeft correct mapping
                        -->
                        <class>hearedfrom/observer</class> 
                        <!-- The method of the class to be called -->
                        <method>hookToInvoiceEvent</method>
                        <!-- The type of class to instantiate -->
                        <type>singleton</type>
                    </hooksystem_invoice>
                </observers>
            </sales_order_invoice_register>
            <!--convert product attribute to quote item through event observer-->
            <sales_quote_item_set_product>
			    <observers>
			        <hooksysstem_quote>
			            <class>hearedfrom/observer</class>
			            <method>hookToQuoteSetProductEvent</method>
			        </hooksysstem_quote>
			    </observers>
			</sales_quote_item_set_product>
			
            <sales_order_place_after>
                <!--sales_order_save_commit_after 
                / sales_order_save_after (triggered after every order save- status change etc
                / sales_order_place_after: triggered 1 time when order has been placed-->
                <!-- Defining an observer for this event -->
                <observers>
                    <!--
                        Unique identifier within the
                        sales_order_place_after node.
                        By convention, we write the module's
                        name in lowercase.
                    -->
                    <commentstore>
                        <!-- The model to be instantiated: 
                        maps to 
                        Model class as found in config <model> brainworx/rental/model
                        brainworx/rental/model/observer.php 
                        brainworx_rental/observer - geeft include(Mage/Brainworx/Rental/Model/Observer.php):
                        rental/observer - geeft correct mapping
                        -->
                        <class>hearedfrom/observer</class> 
                        <!-- The method of the class to be called -->
                        <method>hookToOrderPlaceAfterEvent</method>
                        <!-- The type of class to instantiate -->
                        <type>singleton</type>
                    </commentstore>
                    <hooktosaveorder>
                        <!-- The model to be instantiated: 
                        maps to 
                        Model class as found in config <model> brainworx/rental/model
                        brainworx/rental/model/observer.php 
                        brainworx_rental/observer - geeft include(Mage/Brainworx/Rental/Model/Observer.php):
                        rental/observer - geeft correct mapping
                        -->
                        <class>hearedfrom/observer</class> 
                        <!-- The method of the class to be called -->
                        <method>checkNewConsignation</method>
                        <!-- The type of class to instantiate -->
                        <type>singleton</type>
                    </hooktosaveorder>
                </observers>
            </sales_order_place_after>
		</events>
		<!--convert your custom product attribute "ristorno" from quote item to order item-->
		<fieldsets>
		    <sales_convert_quote_item>
		        <ristorno>
		            <to_order_item>*</to_order_item>
		        </ristorno>
		    </sales_convert_quote_item>
		    <sales_convert_order_item>
		        <ristorno>
		            <to_quote_item>*</to_quote_item>
		        </ristorno>
		    </sales_convert_order_item>
		</fieldsets>
		<!--add your custom product attribute "ristorno" to quote item-->
		<sales>
		    <quote>
		        <item>
		            <product_attributes>
		                <ristorno />
		            </product_attributes>
		        </item>
		    </quote>
		</sales>
		<!-- for sending transactional email -->
		 <template>
            <email>
                <!-- Give the template a uniqiue name, you'll need to refer to this later when sending the email-->
                <supplier_new_shipment>
                    <label>Zorgpunt levering</label>
                    <file>supplier_new_shipment.html</file>
                    <type>html</type>
                </supplier_new_shipment>
                <supplier_new_stockshipment>
                    <label>Zorgpunt levering voorraad</label>
                    <file>supplier_new_stockshipment.html</file>
                    <type>html</type>
                </supplier_new_stockshipment>
                <problem_zorgpunt>
                    <label>Zorgpunt problem</label>
                    <file>problem_zorgpunt.html</file>
                    <type>html</type>
                </problem_zorgpunt>
                <vaph_order_new>
                    <label>Zorgpunt VAPH</label>
                    <file>vaph_order_new.html</file>
                    <type>html</type>
                </vaph_order_new>
				<ouderenzorg_order_new>
                    <label>Zorgpunt Ouderenzorg Thuis</label>
                    <file>ouderenzorg_order_new.html</file>
                    <type>html</type>
                </ouderenzorg_order_new>
                <contact_requestform>
                    <label>Contact request form</label>
                    <file>contact_requestform.html</file>
                    <type>html</type>
                </contact_requestform>
            </email>
        </template>
	   <page>
           <layouts>
               <allowed_user translate="label">
                 <label>2 columns with left bar - Only Zorgpunters</label>
                 <template>page/2columns-left-restricted.phtml</template>
                   <layout_handle>page_allowed_user</layout_handle>
              </allowed_user>
            </layouts>
        </page>
    </global>
	<frontend>
		<!-- setup the url path to our new module -->
		<routers>
			<brainworx_hearedfrom>
				<use>standard</use>
				<args>
					<module>Brainworx_Hearedfrom</module>
					<frontName>hearedfrom</frontName>
				</args>
			</brainworx_hearedfrom>
			<!-- override mage_customer of core to add some myaccount controllers-->
			<customer>
                <args>
                    <modules>
                        <!--name / before: change existing -->
                        <ristornopage before="Mage_Customer">Brainworx_Hearedfrom</ristornopage>
                        <patientorderpage before="Mage_Customer">Brainworx_Hearedfrom</patientorderpage>
                    	<invoicespage before="Mage_Customer">Brainworx_Hearedfrom</invoicespage>
                    	<stockpage before="Mage_Customer">Brainworx_Hearedfrom</stockpage>
                    	<stockrequestpage before="Mage_Customer">Brainworx_Hearedfrom</stockrequestpage>
                    </modules>
                </args>
            </customer>
            <!-- override mage_sales of core to add some custom sales controllers-->
            <sales>
				<args>
					<modules>
						<hearedfromsales before="Mage_Sales">Brainworx_Hearedfrom</hearedfromsales>
						<hearedfromadminhtml before="Mage_Adminhtml">Brainworx_Hearedfrom</hearedfromadminhtml>
					</modules>
				</args>
			</sales>
		</routers>

		<events>
			<!-- START Custom added: Hooks into order save event -->
			<checkout_onepage_controller_success_action>
				<observers>
					<hooksystem_order_success>
						<type>singleton</type>
						<class>hearedfrom/observer</class>
						<method>hookToOrderSaveEvent</method>
					</hooksystem_order_success>
				</observers>
			</checkout_onepage_controller_success_action>
			<!-- set / unset custom session variable -->
			<customer_login>
	            <observers>
	                <hooksystem_customer_login>
	                    <class>hearedfrom/observer</class>
	                    <method>login</method>
	                    <type>singleton</type>
	                </hooksystem_customer_login>
	            </observers>
	        </customer_login>
			<customer_logout>
	            <observers>
	                <hooksystem_customer_logout>
	                    <class>hearedfrom/observer</class>
	                    <method>logout</method>
	                    <type>singleton</type>
	                </hooksystem_customer_logout>
	            </observers>
	        </customer_logout>
		</events>
		<!-- add layout of the frontend component -->
		<layout>
			<updates>
				<hearedfrom>
					<file>hearedfrom.xml</file>
				</hearedfrom>
			</updates>
		</layout>
	</frontend>
	<adminhtml>
        <layout>
		<updates>
		    <hearedfrom>
		      <file>hearedfrom.xml</file>
		    </hearedfrom>
		     <financial>
		      <file>financial.xml</file>
		    </financial>
		     <financialssupplier>
		      <file>financialssupplier.xml</file>
		    </financialssupplier>
		    <salesforce>
			<file>salesforce.xml</file>
		    </salesforce>
		    <salesforcestock>
			<file>salesforcestock.xml</file>
		    </salesforcestock>
		    <salesforcestockrequest>
			<file>salesforcestockrequest.xml</file>
		    </salesforcestockrequest>
		    <commissionview>
			<file>commissionview.xml</file>
		    </commissionview>
		    <invoicesview>
			<file>invoicesview.xml</file>
		    </invoicesview>
		     <creditnotesview>
			<file>creditnotesview.xml</file>
		    </creditnotesview>
		    <requestformoverview>
			<file>requestformoverview.xml</file>
		    </requestformoverview>
		</updates>
        </layout>
        <translate>
	        <modules>
	            <hearedfrom>
	                <files>
	                    <default>Brainworx_Hearedfrom.csv</default>
	                </files>
	            </hearedfrom>
	       </modules>
	</translate>
	<cms>
          <browser>
            <extensions>
              <allowed>
                <jpg>1</jpg>
                <jpeg>1</jpeg>
                <png>1</png>
                <gif>1</gif>
                <pdf>1</pdf>
              </allowed>
            </extensions>
          </browser>
        </cms>
     </adminhtml>
</config>
