/authorizenet/
/bundle/
/captcha/
/catalog/
/cataloginventory/
/catalogsearch/
/centinel/
/configurableswatches/
/contacts/
/customer/
/directory/
/downloadable/
/email/
/newsletter/
/oauth/
/page/
/payment/
/paypal/
/persistent/
/rating/
/reports/
/review/
/sales/
/sendfriend/
/wishlist/
