<!--@subject Levernota @-->
<!--@vars
{
"var order.increment_id":"Order Id",
"var order.getCreatedAtFormated('long')":"Order Created At (datetime)",
"var order.getShippingDescription()":"Shipping Description",
"var order.getShippingInclTax()":"Shipping Cost",
"var deliverydate":"Delivery date",
"var deliveryaddress":"Delivery address",
"var phone":"Phone",
"var items":"Items to deliver",
"var seller":"Zorgpunt",
"var extrainfo":"Extra info aan zorgpunt"
}@-->
Bestelling #{{var order.increment_id}} geplaatst op {{var order.getCreatedAtFormated('long')}}<br>
<br>
Leverdatum {{var deliverydate}}<br>
Levering: {{var order.getShippingDescription()}}<br>
Leverkost: {{var order.getShippingInclTax()}}<br>
Leveradres: {{var deliveryaddress}}<br>
Telefoon: {{var phone}}<br>
<br>
Materialen<br>
{{var items}}<br>
Zorgpunt {{var seller}}<br>
Extra info aan Zorgpunt: {{var extrainfo}}