<?xml version="1.0"?>
<config>
	<modules>
		<Brainworx_Depot>
			<version>0.1.1</version>    <!-- Version number of your module -->
			<depends>Brainworx_Rental</depends>
			<depends>Brainworx_Hearedfrom</depends> <!-- for addlinktocustomer -->
		</Brainworx_Depot>
	</modules>
	<admin>
		<routers>
		<!--configure our module to use the admin frontend-->
		  <adminhtml>
			<args>
			  <modules>
				<Brainworx_Depot before="Mage_Adminhtml">Brainworx_Depot</Brainworx_Depot>
			  </modules>
			</args>
		  </adminhtml>		
		</routers>
	 </admin>
	<global>
	    <models>
				<!--
                Unique identifier in the model's node.
                By convention, we put the module's name in lowercase.
            	-->
				<depot>
					<!--
	                    The path to our models directory, with directory
	                    separators replaced by underscores
	                -->
					<class>Brainworx_Depot_Model</class>
				</depot>
		</models>
		<helpers>
			<depot>
				<class>Brainworx_Depot_Helper</class>
			</depot>			
		</helpers>
		<blocks>
		    <depot>
				<class>Brainworx_Depot_Block</class>
			</depot>				    
		    <!-- Mage_Adminhtml_Block_Sales_Order_Shipment_Create_Tracking -->
		    <adminhtml>
		        <rewrite>
		            <sales_order_shipment_create_tracking>Brainworx_Depot_Block_Adminhtml_Sales_Order_Shipment_Create_Tracking</sales_order_shipment_create_tracking>
		            <sales_order_shipment_view_tracking>Brainworx_Depot_Block_Adminhtml_Sales_Order_Shipment_View_Tracking</sales_order_shipment_view_tracking>
		        </rewrite>
		        <!-- maps the block folder of the module -->
		    </adminhtml>	
		    <!-- new myaccount page -->	 
            <deliveriespage>
                <class>Brainworx_Depot_Block</class>
            </deliveriespage>
            <!-- Override account navigation to add custom links done in Hearedfrom-->  					
		</blocks>
		<resources>
			<depot_setup>
				<setup>
					<module>Brainworx_Depot</module>
					<class>Brainworx_Depot_Model_Resource_Setup</class>
				</setup>
			</depot_setup>
		</resources>
	</global>
	 <frontend>
		 <!-- setup the url path to our new module -->
		 <routers>
		     <brainworx_depot>
				<use>standard</use>
				<args>
					<module>Brainworx_Depot</module>
					<frontName>deliveries</frontName>
				</args>
			</brainworx_depot>
			<!-- override mage_customer of core -->
			 <customer>
	             <args>
	                 <modules>
	                     <!--name / before: change existing -->
	                     <deliveriespage before="Mage_Customer">Brainworx_Depot</deliveriespage>
	                 </modules>
	             </args>
	         </customer>
		 </routers>
		<!-- add layout of the frontend component -->
		 <layout>
			 <updates>
				 <depot>
					 <file>depot.xml</file>
				 </depot>
			 </updates>
		 </layout>
	 </frontend>
	<adminhtml>	   
        <layout>
          <updates>
            <depot>
              <file>depot.xml</file>
            </depot>
          </updates>
        </layout>
        <translate>
	        <modules>
	            <depot>
	                <files>
	                    <default>Brainworx_Depot.csv</default>
	                </files>
	            </depot>
	       </modules>
		</translate>
     </adminhtml>    
</config>