/bundle.xml
/catalog_msrp.xml
/catalog.xml
/catalogsearch.xml
/checkout.xml
/cms.xml
/configurableswatches.xml
/contacts.xml
/customer.xml
/directory.xml
/downloadable.xml
/newsletter.xml
/oauth.xml
/page.xml
/paypal.xml
/persistent.xml
/review.xml
/rss.xml
/sales.xml
/wishlist.xml
