@CHARSET "ISO-8859-1";
.hidden {
	display:none;
}
.unhide {
	
}
.tooltip {
	float: right;
}
.left {
	float: left;
}
.right {
	float: right;
}
input[type="text"]{
	text-transform: capitalize;
}
