<?xml version="1.0" encoding="UTF-8"?>
<config>
	<!-- 
    /**
     * register the full module name and it's
     * version
     */-->
    <modules>
        <Brainworx_RentalPay>
            <version>0.1.0</version>
        </Brainworx_RentalPay>
    </modules>
	<!-- 
    /**
     * global module configuration
     */-->
    <global>
		<!-- 
        /**
         * register the module's model group
         * note that we use the module's alias 
         * mentioned in the prerequisites
         */-->
        <models>
            <RentalPay>
                <class>Brainworx_RentalPay_Model</class>
            </RentalPay>
        </models>
		<!-- 
		/**
         * set which resources the module will
         * use when setting up, writing to the db
         * and reading from the db. we're going 
         * to use the core connections.
         */-->
        <resources>
            <rentalPay_setup>
                <setup>
                    <module>Brainworx_RentalPay</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </rentalPay_setup>
            <rentalPay_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </rentalPay_write>
            <rentalPay_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </rentalPay_read>
        </resources>
    </global>
    <default>
        <payment>
            <rentalPay>
				<!-- 
                /**
                 * is this payment method enabled?
                 */
                 -->
                <active>1</active>
				<!-- 
                /**
                 * this is where we tell the system what
                 * class to use to handle all of the payment
                 * logic. we call this class the payment 
                 * adapter model class. you can change the 
                 * paymentLogic bit to be what you want 
                 * but it has to be lowerCamelCase and 
                 * the class name will have to be changed later
                 * on as you will see
                 */-->
                <model>rentalPay/paymentLogic</model>

                <order_status>pending</order_status>
                <title>Op Factuur einde maand</title>
				<!-- -->
                <api_key>1234</api_key>
                <api_secret>1234</api_secret>
                
				<!-- 
                /**
                 * this is the default set of allowed credit
                 * card types. leave this as it is for now
                 */-->
                <cctypes>AE,VI,MC,DI,SS</cctypes>
				<!-- 
                /**
                 * this should be authorize or authorize_capture
                 * you can probably guess that authorize just
                 * authorizes the payment but authorize_capture
                 * processes it as well
                 */-->
                <payment_action>authorize</payment_action>
				<!-- 
                /**
                 * this field is used to say whether you only
                 * want this method to be used for certain
                 * countries but that is not covered by this
                 * tutorial
                 */-->
                <allowspecific>0</allowspecific>
            </rentalPay>
        </payment>
    </default>
</config>